.Container {
    height: 100vh;
    display: block;
    background-color: black;
    
}

.Elegant {
    background: linear-gradient(to left, #FFF 20%, #aaa 40%, #889998 60%, #FFF 80%);
  background-size: 200% auto;
  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
   animation: shine 3s linear infinite; 
  
    }
    @keyframes shine {
        to {
          background-position: 200% center;
  }
    }