.Card {
    display: inline-block;
    position: relative;
    width: 375px;
    height: 400px;
    margin: 80px 40px 0px 0px;
    /* opacity: 85%;
    transition: all 1s; */
}
/* 
.Card:hover {
    opacity: 100%;
    transition: all 1s;
} */

.project-logo {
    position: absolute;
    top: 56px;
    left: 24px;
    width: 80px;
    border-radius: 50px;
    opacity: 93%;
    transition: .5s all;
}

.project-logo:hover {
    /* box-shadow: 0 0 0 3px rgba(255, 255, 255, .85); */
    border-radius: 50px;
    opacity: 100%;
    transition: .5s all;
  }

.code-link {
    position: absolute;
    top: 86px;
    right: 24px;
    background: #fff;
    padding: 4px;
    border: 1px solid rgba(0,0,0,0);
    border-radius: 50px;
    width: 28px;
    height: 28px;

}

.code-link img {
    width: 28px;
}

.code-link:hover {
    border: 3px solid #889998;
    margin: -2px;
}

.description-text {
    margin-top: 36px;
    padding: 24px 12px 0px 12px;
    text-align: left;
}

.technologies {
    position: absolute;
    bottom: 0;
    width: 80%;
    margin-top: 60px;
    text-align: left;
    font-size: 12px;
    color: #aaa;
    margin-left: 40px;
    margin-right: auto;
}

.technologies-list {
    border-top: 1px solid #dedede;
    transition: all .5s;
}

.technologies-list:hover {
    border-top: 1px solid #aaa;
    transition: all .5s;
}

.technologies-list img {
    background: #fefefe;
    padding: 3px;
    height: 36px;
    width: 36px;
    margin: 10px 8px;
}

.technologies-list img:hover {
    border: 3px solid #efefef;
    border-radius: 40px;
    margin: 7px 5px;
}

@media only screen and (max-width: 1270px) {
    .Card {
        display: inline-block;
        position: relative;
        width: 250px;
        height: 266px;
        margin: 20px 20px 10px 0px;
    }

    .project-logo {
        position: absolute;
        top: 37px;
        left: 18px;
        width: 53px;
        /* border: 2px solid #D4E4BC; */
        border-radius: 50px;
    }

    /* .project-logo:hover {
        border: 3px solid #D4E4BC;
        margin: -1px;
    } */

    .code-link {
        position: absolute;
        top: 57px;
        right: 18px;
        background: #fff;
        padding: 2px;
        border: 2px solid #D4E4BC;
        border-radius: 50px;
        width: 19px;
        height: 19px;
    }

    .code-link:hover {
        border: 3px solid #D4E4BC;
        margin: -1px;
    }

    .code-link img {
        width: 19px;
    }

    .description-text {
        font-size: 66%;
    }

    .technologies {
        margin-top: 40px;
        margin-left: 20px;
        text-align: left;
        font-size: 8px;
        color: #aaa;
    }
    
    .technologies-list {
        border-top: 1px solid #ccc;
    }
    
    .technologies-list img {
        background: #fefefe;
        padding: 3px;
        height: 24px;
        width: 24px;
        margin: 7px 5px;
    }
    
    .technologies-list img:hover {
        border: 3px solid #efefef;
        border-radius: 40px;
        margin: 4px 2px;
    }
}